.pokerCard {
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    padding: 5%;
    padding-top: 10vh;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
}

.pokerCard:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
    background-color: rgb(193, 255, 78);
    color: white;
}

.pokerCard__footer {
    height: 4em;
    font-size: small;
    background-blend-mode: hue;
    overflow-wrap: break-word;
    padding: .75rem 1.25rem;

    bottom: 0;
}

.pokerCard__infinity {
    top: -1.5rem;
    position: relative;
    max-width: 6rem;
}

.noHover {
    pointer-events: none;
}